<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Place Details</title>
</head>

<body>
<div class="container text-center">
    <div th:insert="~{layouts/menuFragment :: menu}"></div>

    <h1>Place Details</h1>

    <div>
        <p th:text="${place.id}">Place ID</p>
        <p th:text="${place.name}">Name</p>
        <td th:text="${place.city}">City</td>
        <td th:text="${place.address}">Address</td>
        <td th:text="${place.address}">Website</td>
        <td th:text="${place.address}">Description</td>
    </div>

</div>
</body>

</html>
