<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>List of Places</title>
</head>

<body>
<div class="container text-center">

    <div th:insert="~{layouts/menuFragment :: menu}"></div>

    <h1>List of Places</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th th:href="@{/places/create}">Place ID</th>
            <th>Name</th>
            <th>City</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="place: ${places}">
            <td th:text="${place.id}">Place ID</td>
            <td th:text="${place.name}">Name</td>
            <td th:text="${place.city}">City</td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/places/create}" class="btn btn-primary">Create Place</a>


</div>
</body>